---

---

<header class="fixed w-full py-2 z-50 transition:[padding] transition:[backgrond-color] duration-500 ">
    <nav class="flex items-center justify-between px-5 sm:px-24 md:px-32 lg:px-48 select-none ">
        <div class="">
            <a href="#" class="flex items-center text-white">
                <img src="favicon.svg" alt="logo" class="bg-black h-10">
                <span class="font-extrabold font-sans">LandingBoga</span>
            </a>
        </div>
        <ul class="flex gap-4 text-white">
            <li>
                <a href="#" class="hover:underline underline-offset-8">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#Servicios" class="hover:underline underline-offset-8">
                    Servicios
                </a>
            </li>
            <li>
                <a href="#Contacto" class="hover:underline underline-offset-8">
                    Contacto
                </a>
            </li>
        </ul>
    </nav>
</header>


