---
---

<div style="overflow: hidden; width:100vw; position:fixed; bottom:0; z-index: -999;">
    <img src="img2.jpg" alt=""  style="height: 100vh; width:200vh; object-fit: cover;">
</div>

<div class="bg-transparent h-48"></div>