---
import Hero from "./Hero.astro"
import Servicios from "./Servicios.astro"
import CasosExito from "./CasosExito.astro"
import Contacto from "./Contacto.astro"
import ImgFijaFondo from "./ImgFijaFondo.astro"
---
<main>
    <Hero />
    <Servicios />
    <CasosExito />
    <Contacto />
    
    <ImgFijaFondo />
</main>
