---
const servicios = [
    {
        titulo:"Divorcios",
        descripcion:"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo corporis vel unde delectus accusantium",
        img:"/s1.jpg",
    },
    {
        titulo:"Sucesiones",
        descripcion:"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo corporis vel unde delectus accusantium",
        img:"/s2.jpg",
    },
    {
        titulo:"Despidos",
        descripcion:"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo corporis vel unde delectus accusantium",
        img:"/s3.jpg",
    },
]
---

<section id="Servicios" class="w-full sm:p-16 bg-stone-100 text-center">
    <h1 class="text-4xl  font-bold mb-2">Nuestros servicios</h1>

    <div class="flex flex-wrap justify-center py-2 gap-6 lg:gap-12">
        {servicios.map(s=>(
            <article class="w-76 border p-2 bg-white rounded-md border-gray-200 hover:shadow-2xl">
                <figure class="w-full mb-2">
                    <img src={s.img} alt={s.titulo} class="w-72 h-40">
                </figure>
                <h1 class="text-xl font-bold mb-2">{s.titulo}</h1>
                <p>{s.descripcion}</p>
            </article>
        ))}
    </div>

</section>